/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body {
  background-color: black;
  color: white;
  font-family: helvetica;
  padding: 5% 0 0 0;
}
#calculator {
  /*position: fixed;
  float: right;*/
  margin: 0 auto;
  /*background: rgb(66, 170, 75);*/
  opacity: .95;
  z-index: 1000;
  width: 20em;
  padding: 1% 0 5% 0;
  border-radius: 5px;
  max-height: 100%;
  bottom: 20em;
}

#calculator h4 {
  font-size: 1.5em;
  margin-top: -5px;
  color: black !important;
}

#calculator p {
  text-align: center;
  font-size: 1.2em;
  margin-top: -12px;
}


#calculator input {
  width: 50%;
  opacity: .9;
  height: 30px;
  margin: -5px 0 -12px 20%;
  padding: 1% 5%;
  /*border-radius: 4px;*/
  font-size: 14px;
  background-color: #404040;
  color: white;
  border: none;
  outline: none;
}

.button {
  margin: 0 0 0 25% !important;
  height: 30px !important;
  width: 50% !important;
  transition: .5s;
  /*border: none;*/
  /*outline: none;*/
}

.button:hover {
  cursor: pointer;
  background-color: #353535 !important;
  transition: .5s;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    .button {
      border-radius: none;
    }
}






